.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tower {
    height: 300px;
    width: 20px;
    background-color: black;
    margin-top: 50px;
    position: relative;
    display: flex;
    
}

.circle {
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
